body{
    background-color:#C2FFF9;
}
hr{
    border-style: none;
    border-top-style:dotted;
    border-color: grey;
    border-width: 5px;
    width: 4%;
}
h1{
    color: purple;
}
h3{
    color: blueviolet;
}
th{
    color: rosybrown;
}